<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Ajouter un Rappel</title>
  <link rel="stylesheet" type="text/css" href="/Static/styles.css" />
  <link rel="preconnect" href="https://fonts.googleapis.com/" />
  <link rel="preconnect" href="https://fonts.gstatic.com/" crossorigin />
  <link
    href="https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap"
    rel="stylesheet"
  />
  <script src="https://jscolor.com/releases/2.4.5/jscolor.js"></script>
</head>
<body>
  <header>
    <div class="logo">
      <h1>Remindr</h1>
    </div>
  </header>
<div id="edit-reminder-form">
  {{log groupID}}
  {{log reminder.id_Remind}}
  
    <!-- Formulaire de modification de rappel -->
    <form action="/dashboard/groups/{{groupID}}/reminders/{{reminder.id_Remind}}/edit" method="post">
      <h2 class="titre-reminds">Modifier un Rappel pour le groupe {{group.name}}</h2>

      <!-- Champ caché pour l'ID du groupe -->
      <input type="hidden" name="groupId" value="{{groupId}}">  

      <!-- Titre du rappel -->
      <label for="title">Titre du rappel :</label>
      <input type="text" id="title" name="title" placeholder="Titre" value="{{reminder.title}}" required>

      <!-- Description du rappel -->
      <label for="description">Description du rappel :</label>
      <textarea id="description" name="description" rows="10" cols="50" placeholder="Description" required>{{reminder.description}}</textarea>
      
      <!-- Date de création -->
      <label for="creationDate">Date de création :</label>
      <h3 class="form-label">Date de création</h3>
      <input type="date" id="creationDate" name="creationDate" placeholder="Date de début (jj/mm/aaaa)" value="{{reminder.creationDate}}" required>

      <!-- Date d'échéance -->
      <label for="limitDate">Date d'échéance :</label>
      <h3 class="form-label">Date d'échéance</h3>
      <input type="date" id="limitDate" name="limitDate" placeholder="Date de fin (jj/mm/aaaa)" value="{{reminder.limitDate}}" required>

      <label for="color">Couleur du rappel :</label>
      <input class="jscolor" id="color" name="color" value="{{reminder.color}}">

      <!-- Bouton de soumission -->
      <button type="submit" id="submit-button">Modifier le Rappel</button>
    </form>
  </div>
    <footer>
    <p>&copy; 2023 Remindr. Tous droits réservés.</p>
  </footer>
  <!-- Ajoutez vos scripts ou autres dépendances nécessaires -->
</body>
</html>